* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-primary {
    background-color: #00D6A0 !important;
}


.img__logo {
    width: 72px;
    height: 57px;
}

.img__foto-login {
    width: 7rem;
    height: 7rem;
}
